<template name='mainLayout'>
  <div class="wrapper route-{{currentRouteName}}">

    {{> navbar}}

    <main>
      <div class="container">
        <div class='section'>
          {{> yield}}
        </div>
      </div>
    </main>

    {{> footer}}

  </div>

</template>

<template name='loading'>
  <div class="preloader-wrapper big active center-align section">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</template>
