/* sticky footer */
body > .wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

input.input-large, .at-form input{
  font-size:2em;
}
input.input-huge{
  font-size:3.2em;
  height:1.5em;
}
.at-form .card-panel span i{
  font-size:1.2em;
}
.at-form .card-panel span{
  display:block;
  padding:4px;
}
.at-form .card-panel span::after{
  clear:both;
}
.at-form .card-panel{
  margin-bottom:60px;
}

.profile-img-thumb{
  width:40px;
  vertical-align:middle;
  margin-right:10px;
}
