<template name="logs">
  <div class="row">
    <div class="col s12 m8">
      <h3>Event Log Viewer</h3>
    </div>
    <div class="col s12 m4 right-align">
      <div class="section">
        <div class="btn red delete-all">Delete all</div>
      </div>
    </div>
  </div>

  <div class="section">
    {{> logViewer}}
  </div>

</template>

<template name="logViewer">

  <div class="row">
    <div class="input-field col s12">
      <i class="mdi-action-search prefix"></i>
      <input class="input-large" id="searchLogs" type="text">
      <label for="searchLogs" class="">Search Logs</label>
    </div>
    <div class="input-field col s6">
      <p>Start Date</p>
      <input class="input-large times-input date" id="startDate" type="date">
    </div>

    <div class="input-field col s6">
      <p>End Date</p>
      <input class="input-large times-input date" id="endDate" type="date">
    </div>
  </div>

  <div class="row">
    {{>logsTable logs=logs}}
  </div>
</template>

<template name="logsTable">
  <table class='responsive-table bordered'>
    <tbody>
      {{#each logs}}
        <tr class="{{rowColor}}">
          <td>{{formatDateTime createdAt}}</td>
          {{#unless ../hideUser}}
            {{#if data.user}}
              <td>
                <a href="{{pathFor 'user' _userId=data.user._id}}">
                  {{#if profileImage}}
                    <img src="{{getFileUrl profileImage store='thumb'}}" alt="" class="circle responsive-img profile-img-thumb">
                  {{/if}}

                  {{#if data.user.name}}
                    {{data.user.name}}
                  {{else}}
                    [No Name]
                  {{/if}}
                </a>
              </td>
            {{/if}}
          {{/unless}}
          <td>
            <i class="mdi-{{eventIcon}}"></i>
            {{#if data._cardId}}
              {{data._cardId}}
            {{/if}}
            <i class="mdi-{{methodIcon}}"></i>
            {{#if direction}}
              <i class="mdi-{{directionIcon}}"></i>
              {{direction}}
            {{/if}}
          </td>
          <td>
            {{#if timeSpentInside}}
              {{formatDuration timeSpentInside}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
