<template name="logs">
  <div class="row">
    <div class="col s12 m8">
      <h3>Event Log Viewer</h3>
    </div>
    <div class="col s12 m4 right-align">
      <div class="section">
        <div class="btn red delete-all">Delete all</div>
      </div>
    </div>
  </div>

  <div class="section">
    {{> logViewer}}
  </div>

</template>

<template name="logViewer">

  <div class="row">
    <div class="input-field col s12">
      <input id="searchLogs" type="text">
      <label for="searchLogs" class="">Search Logs</label>
    </div>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th data-fiel="time">Time</th>
          <th>Event</th>
          <th colspan="100">Data</th>
        </tr>
      </thead>
      <tbody>
        {{#each logs}}
          <tr>
            <td>{{createdAt}}</td>
            <td>{{type}}</td>
            {{#if data.user}}
              <td>{{data.method}}</td>
              <td><a href="#">{{data.user.name}}</a></td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>


<template name="log">

</template>
