<template name='settings'>
  <h3>Settings</h3>
  <div class="section">
    {{> settingsSubmenu}}
  </div>
  {{> yield 'subsection'}}
</template>

<template name='settingsSubmenu'>
  {{#each settingsOptions}}
    <a class="btn waves-effect {{#unless active}}grey{{/unless}}" href="{{pathFor fullname}}">
      {{title}}
    </a>
  {{/each}}
</template>

<template name='settingsSocial'>
  <div class="section">
    <h4>Social Network Integrations</h4>
    <p>Configure twitter account and message sendout</p>
  </div>
</template>

<template name='settingsDoor'>
  <div class="section">
    <h4>Door Configuration</h4>
    <p>Set options for various things in the door app</p>
  </div>
</template>
