<template name="home">
  <h4 class='truncate'>Hello, {{$.Meteor.user.profile.name}}</h4>
  <div class="divider"></div>

  {{#if appContent.home}}
    <div class="section flow-text">
      {{#markdown}}{{appContent.home}}{{/markdown}}
    </div>
  {{/if}}

  {{#with $.Meteor.user}}
    {{#if isInRole 'appEntry'}}
      <div class="section">
        <a class="unlock-door waves-effect waves-light btn-large"><i class="mdi-action-lock-open right"></i>Unlock Door</a>
      </div>
      {{#if isInRole 'admin'}}
        <div class="section">
          <a class="timed-unlock-door waves-effect waves-light btn-large"><i class="mdi-av-timer right"></i>Unlock with Timer</a>
        </div>
      {{/if}}
    {{/if}}


    {{#if hasCard}}
      {{#if isInRole 'cardEntry'}}
        <div class="section">
          <h5><i class='mdi-action-credit-card'></i> Your card is active!</h5>
          <p>You can scan your card to unlock the door.</p>
        </div>
      {{else}}
        <div class="section red-text text-darken-2">
          <h5><i class='mdi-alert-warning'></i> Your has been deactivated!</h5>
          <p>Please return your card to a staff member.</p>
        </div>
      {{/if}}
    {{/if}}
  {{/with}}

</template>
