<template name='mainMenu'>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  <ul class="right hide-on-med-and-down">
    {{> mainMenuItems}}
  </ul>
  <ul class="side-nav" id="mobile-demo">
    {{> mainMenuItems}}
  </ul>
</template>

<template name="mainMenuItems">
  {{#each menuItems}}
    <li class='{{#if active}}active{{/if}}'><a href="{{pathFor name}}">{{title}}</a></li>
  {{/each}}
  <li><a href="#" class='logout'>Logout</a></li>
</template>
