<template name="users">
  <div class="row">
    <div class="col s12 m8">
      <h3>User Manager</h3>
    </div>
    <div class="col s12 m4 right-align">
      <div class="section">
        <p>More tools to come</p>
      </div>
    </div>
  </div>

  <div class="section">
    {{> userViewer}}
  </div>

</template>

<template name="userViewer">

  <div class="row">
    <div class="input-field col s12">
      <input id="searchUsers" type="text">
      <label for="searchUsers" class="">Search Users</label>
    </div>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Created</th>
          <th>Name</th>
          <th>Doors Opened</th>
          <th>Latest Login</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{formatDateTime createdAt}}</td>
            <td>
              <a href="{{pathFor 'user' _userId=_id}}">
                {{#if profile.name}}
                  {{profile.name}}
                {{else}}
                  [No Name]
                {{/if}}
              </a>
            </td>
            <td>-</td>
            <td>-</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
