<template name='user'>
  <div class="row">
    <div class="col s12">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
          <div class="col s12 m4">
            {{#if profile.image}}
              <img src="{{getFileUrl profile.image store='thumb'}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            {{/if}}
            {{#if isInRole 'admin'}}
              <div class="file-field input-field image-upload center-text">
                <div class="btn">
                  <span>Upload Image</span>
                  <input class='image-upload-input' type="file" />
                </div>
              </div>
            {{/if}}

          </div>
          <div class="col s12 m7 offset-m1 font-small user-profile">
            <div class="row">
              <div class="col s12">
                {{#if isInRole 'admin'}}
                  <input class="input-large update-field" name="profile.name" type="text" value="{{profile.name}}">
                {{else}}
                  <h4>{{profile.name}}</h4>
                  <div class="divider"></div>
                {{/if}}
                <h6>Joined <b>{{formatDate createdAt}}</b></h6>
              </div>
            </div>
            <div class="row">
              <div class="section col s12">
                <div class="btn light-blue set-password">Set Password</div>
                {{#if isInRole 'admin'}}
                  {{#if hasCard}}
                    <div class="btn red destroy-card">Destroy Card</div>
                  {{else}}
                    <!--<div class="btn blue generate-card">Generate Card</div>-->
                    <div class="btn green set-card">Set Card</div>
                  {{/if}}
                  <!-- todo: roles, admin disabled if admin and user is user -->
                  <form class='section'>
                    {{#each configurableRoles}}
                      <p>
                        <input id="cb{{i}}" type="checkbox" class="toggle-role" name="{{role}}" checked="{{hasRole}}"/>
                        <label for="cb{{i}}">{{text}}</label>
                      </p>
                    {{/each}}
                  </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>
